:root {
  --border-radius: 10px;
  --color-accent: hsl(158, 36%, 37%);
  --color-card-cream: hsl(30, 38%, 92%);
  --color-card-white: hsl(0, 0%, 100%);
  --color-heading: hsl(212, 21%, 14%);
  --color-text: hsl(228, 12%, 48%);
  --font-accent: 'Fraunces', serif;
  --font-primary: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  align-items: center;
  background-color: var(--color-card-cream);
  display: flex;
  font-family: var(--font-primary);
  font-size: 1.4rem;
  justify-content: center;
  line-height: 1.5;
  min-height: 100vh;
}

figure {
  margin: 0;
}

h1 {
  font-family: var(--font-accent);
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

button {
  align-items: center;
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  border: none;
  color: var(--color-card-white);
  display: flex;
  font-weight: 400;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}

button:hover {
  background-color: var(--color-heading);
  cursor: pointer;
}

button img {
  margin-right: 1rem;
}

.card {
  background-color: var(--color-card-white);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: flex;
  width: 34.5rem;
}

.card-one img {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  width: 100%;
}

.card-two {
  padding: 0 2rem 2.5rem 2rem;
}

.heading {
  color: var(--color-text);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 4px;
  margin: 1rem 0;
}

.text-field {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.text-field,
.price-right {
  color: var(--color-text);
}

.prices {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.price-left {
  color: var(--color-accent);
  font-family: var(--font-accent);
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
}

.price-right {
  margin-left: 2rem;
  text-decoration: str;
}

@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 3.2rem;
  }

  button {
    margin: 3rem 0;
    outline: none;
  }

  br {
    display: none;
  }

  .card {
    flex-direction: row;
    width: 600px;
  }
  .card-one {
    width: 300px;
  }

  .card-one img {
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: 0;
    height: 100%;
  }

  .card-two {
    padding-bottom: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 300px;
  }

  .text-field {
    margin: 2.5rem 0;
  }

  .heading {
    margin: 3.5rem 0 2rem 0;
  }
}
